*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

header{
    height: 70px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logosec{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    outline: 0;
    background-color: gray;
    margin: 10px;
}

.logoname{
    height: 35px;
    width: 100px;
    margin: 10px;
    background-color: rgb(204, 201, 201);
    border-radius: 5px;
}

.pages{
    display: inline-block;
    width: 70px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 15px;
    background-color: rgb(204, 201, 201);
    text-decoration: none;
    color: rgb(204, 201, 201);
    border-radius: 5px;
}

.hamburger{
    padding: 5px 10px 5px 10px;
    margin: 15px;
    background-color: rgb(204, 201, 201);
    color: rgb(204, 201, 201);
    height: 30px;
    width: 60px;
    border: none;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
  }

@media screen and (max-width: 700px) {

    .pages{
        display: none;
    }
}