<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MINCSS CDN</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://mincsscdn.netlify.app/mincss.min.css">
    </head>
    <body class="flexv">
    <header class="pd10 bg-primary flexh just-sb vc">
        <div class="flexh vc">
            <img src="logo.png" width="60px">
            <h3 class="mg5 txt-white">Logoname</h3>
        </div>
        <nav class="nav">
            <a class="link-white">Link</a>
            <a class="link-white">Link</a>
            <a class="link-white">Link</a>
        </nav>
        <button class="ham-btn icon bx-primary" ><i class="fa fa-bars"></i></button>
    </header>
    </body>
</html>