<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MINCSS CDN</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://mincsscdn.netlify.app/mincss.min.css">
    </head>
    <body class="flexv hv-100 just-ce vc">
        <div class="flexv hv-100 just-ce vc wv-50 ">
            <h1 class="title description">Welcome to MINCSS cdn</h1>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <form class="min-form vc flexv just-ce wv-90 ">
                <input type="text" class="input-primary pd10" value="https://mincsscdn.netlify.app/mincss.css" id="myInput">
                <button onclick="myFunction()" class="btn-primary mg20">Copy</button>
            </form>
        </div>
    </body>
</html>